.navbar-default {
	border: none;
	height: 100px;
	margin-bottom: -10px;
}

ul.nav.navbar-nav.navbar-right {
	margin-right: 200px;
	margin-top: 20px;
}

ul > li {
	margin-right: 40px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: #f8f8f8;
	color: #00AAFF;
}

.branded {
	margin-top: 7px;
	padding-left: 100px;
	height: 100px;
}

#pic {
	height: 700px;
	width: 100%;
}

.bstimeslider {
	width:1200px;
	height:400px;
	position:relative;
}

.bktibx {
	float:left;
	margin:5px 230px 0 20px;
	font-size:18px;
	width:70px;
	display:block;
	color:#fff;
	height: 100px;
	margin-top: 10px;
}

#tslshow {
	position:absolute;
	left:0;
	width:1500px;
}

#leftArrow {
	width: 40px;
	height:40px;
	position:absolute;
	left : -30px;
	font-size : 100px;
	opacity: 0.5;
}	

#rightArrow {
	width:40px;
	height:40px;
	position:absolute;
	left: 1100px;
	font-size : 100px;
	opacity: 0.5;
}

#border {
	border-radius: 25px;
	height: 200px;
	width: 280px;
}

#viewContainer {
	width:850px;
	height:50%;
	position:absolute;
	left:12%;
	overflow:hidden; 
}

#air {
	width: 300px;
	height: 250px;
}

#power {
	position: absolute;
	width: 290px;
	height: 500px;
}

#wireless {
	width: 500px;
	height: 250px;
}

#lighting {
	width: 500px;
	height: 230px;
}

#ups {
	width: 290px;
	height: 230px;
}

#cases {
	border-color: #0080ff;
	color: #0080ff;
}